[submodule "fixtures"]
	path = fixtures
	url = https://github.com/qrdx-org/tests.git
[submodule "py-evm"]
	path = py-evm
	url = https://github.com/qrdx-org/py-evm.git
[submodule "eth-utils"]
	path = eth-utils
	url = https://github.com/ethereum/eth-utils.git
[submodule "eth-keys"]
	path = eth-keys
	url = https://github.com/ethereum/eth-keys.git
[submodule "eth-typing"]
	path = eth-typing
	url = https://github.com/ethereum/eth-typing.git
[submodule "pyrlp"]
	path = pyrlp
	url = https://github.com/ethereum/pyrlp.git
[submodule "eth-hash"]
	path = eth-hash
	url = https://github.com/ethereum/eth-hash.git
[submodule "eth-enr"]
	path = eth-enr
	url = https://github.com/ethereum/eth-enr.git
[submodule "lahja"]
	path = lahja
	url = https://github.com/qrdx-org/lahja.git
[submodule "web3.py"]
	path = web3.py
	url = https://github.com/ethereum/web3.py.git
[submodule "asyncio-run-in-process"]
	path = asyncio-run-in-process
	url = https://github.com/qrdx-org/asyncio-run-in-process.git
[submodule "async-service"]
	path = async-service
	url = https://github.com/qrdx-org/async-service.git
[submodule "eth-account"]
	path = eth-account
	url = https://github.com/ethereum/eth-account.git
[submodule "eth-abi"]
	path = eth-abi
	url = https://github.com/ethereum/eth-abi.git
[submodule "eth-bloom"]
	path = eth-bloom
	url = https://github.com/qrdx-org/eth-bloom.git
[submodule "eth-tester"]
	path = eth-tester
	url = https://github.com/ethereum/eth-tester.git
[submodule "trinity-upstream"]
	path = trinity-upstream
	url = https://github.com/ethereum/trinity.git
[submodule "liboqs"]
	path = liboqs
	url = https://github.com/qrdx-org/liboqs.git