x-qrdx-node-base: &qrdx-node-base
  build:
    context: ".."
    dockerfile: "./docker/Dockerfile"
  restart: unless-stopped
  working_dir: /app
  env_file: ["../.env"]
  labels: ["qrdx.node=true"]
  networks: [qrdx-net]
  volumes:
    - type: volume
      target: /app
    - type: volume
      source: node-registry
      target: /shared/node-registry
    - type: volume
      source: node-topology
      target: /shared/node-topology
      read_only: true
  environment:
    &qrdx-node-env
    qrdx_NODE_HOST: '0.0.0.0'
    QRDX_DATABASE_PATH: '/app/data/qrdx.db'

services:
  topology:
    image: python:3.12-alpine
    working_dir: /app
    command: >
      sh -c "pip install --no-cache-dir pyyaml >/dev/null && python /app/generate-topology.py"
    volumes:
      - ./generate-topology.py:/app/generate-topology.py:ro
      - ./docker-compose.yml:/project/docker-compose.yml:ro
      - node-topology:/shared/node-topology
    networks: [qrdx-net]

  node-3006:
    <<: *qrdx-node-base
    hostname: node-3006
    volumes: [node_3006_data:/app, node-registry:/shared/node-registry, node-topology:/shared/node-topology:ro]
    depends_on:
      topology: { condition: service_completed_successfully }
    ports: ["3006:3006"]
    environment:
      <<: *qrdx-node-env
      NODE_NAME: 'node-3006'
      qrdx_NODE_PORT: '3006'
      QRDX_DATABASE_PATH: '/app/data/qrdx.db'
      
      # This variable specifies either the selection criteria or a fixed address for the bootstrap-node.
      # Accepted values:
      #   - 'self': Uses the node's own internal address.
      #   - 'discover': Selects an address from the shared peer registry.
      #   - The address of a qrdx Node that is reachable via the Internet or internal network.
      qrdx_BOOTSTRAP_NODE: 'https://node.qrdx.network'
      
      # This variable enables public tunneling via Pinggy.io for up to 60 minutes.
      #ENABLE_PINGGY_TUNNEL: 'true'
 
      # This variable specifies the publicly reachable address of the node itself.
      qrdx_SELF_URL: ''

volumes:
  node-topology:
  node-registry:
  node_3006_data:

networks:
  qrdx-net:
    driver: bridge
